:root {
  font-family: sans-serif;
}

html {
    font-size: 175%;
}

p {
  margin: 0;
}

button {
  border: 0;
  font-size: inherit;
  font-family: inherit;
}

button:hover {
    cursor: pointer;
    background-color: lightgray;
}

button:active {
    background-color: rgb(136, 136, 136);
}

.calculadora {
  border-radius: 12px;
  box-shadow: 0 0 40px 0px grey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 15em;
  overflow: hidden;
}

.texto_calculadora {
  background-color: black;
  color: white;
  font-size: 1.75em;
  padding: 0.5em 0.75em;
  text-align: right;
}

.botones_calculadora {
  background-color: grey;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.botones_calculadora > * {
  background-color: white;
  padding: 0.5em 1.25em;
  position: relative;
}

.boton_borrar {
  grid-column: 1 / span 2;
  grid-row: 1;
}